{% extends 'base.html.twig' %}

{% import '_macro.html.twig' as utils %}

{% block title %}
    Hangman Game - You're hanged!
{% endblock %}

{% block content %}
    {{ utils.breadcrumb({'home': 'game_home', 'you_failed': app.request.attributes.get('_route')}) }}

    <h2>Game Over!</h2>
    <p>
        Oops, you're hanged... The word to guess was <strong>xilophon</strong>.
    </p>
    <p>
        <a href="{{ path('game_home') }}" class="btn btn-default">Play again</a>
    </p>
{% endblock %}
